header {
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 1em ;
    align-items: center;
    background: var(--cor-azul);
    font-family: var(--font-poppins);
    gap: 60%;
}

.logo-header {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
   height: 100px;
}

.logo-titulo {
    
    color: var(--cor-branco-escuro);
    font-size: 1.5rem;
    font-weight: 600;
}

.navegação__header {
    display: flex;
    gap: 2em;
}

.item-navegacao {
    text-decoration: none;
    color: var(--cor-branco-escuro);
    border-left: 3px var(--cor-branco-escuro) solid;
    padding-left: 0.5em;
    font-weight: 600;
}

.checkbox__menu-hamburguer{
    display: none;
}

.icone__menu-hamburguer{
    display: none;
}

.checkbox__menu-hamburguer {
    display: none;
}

.lista-navegacao-mobile{
    display: none;
}

@media screen and (max-width: 450px) {
    .lista-navegacao-mobile{
        padding: 1em;
        background-color: var(--cor-azul);
        left: 0;
        display: flex; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        gap: 2em;
        opacity: 0;
        border-top: double var(--cor-branco-escuro) 4px;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .link__item__lista-navegacao-mobile {
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--cor-branco-escuro);
        border-left: 3px var(--cor-branco-escuro) solid;
        padding-left: 0.5em;
        font-weight: 600;
    }

    .checkbox__menu-hamburguer:checked ~ .lista-navegacao-mobile {
        opacity: 1;
        visibility: visible;
    }

    header {
        gap: 35%;
    }

    .logo-header {
        flex-direction: row-reverse;
    }

    .logo-img {
        height: 70px;
    }

    .navegação__header {
        display: none;
    }

    .checkbox__menu-hamburguer{
        display: block;
    }

    .icone__menu-hamburguer{
        display: block;
    }

    .checkbox__menu-hamburguer {
        position: absolute;
        opacity: 0;
        width: 0;
    }

}










/* .menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    
}

.logo-img {
   
}



nav {
    display: flex;
    gap: 25px;
    order: 3;
    margin-left: auto;
}

nav a {
    text-decoration: none;
 
    font-weight: bold;
}

nav a:hover {
   
} */