@import url(header.css);
@import url(footer.css);
@import url(/css/homePage/homePage.css);

:root{
    --cor-azul: #1A365D;
    --cor-branco: #F5F5F3;
    --cor-branco-escuro: #E2E8F0;
    --font-poppins: "Poppins", sans-serif;
    --cor-preto: black;
    --cor-azul-claro: #227aad;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}