.container-mural {
    padding: 50px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.container-mural h2 {
    font-size: 48px;
    font-family: var(--font-poppins);
    font-weight: 600;
    
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    text-align: left;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
}

.card h3 {
    margin: 12px 0 8px;
}

.card p {
    margin-bottom: 8px;
    font-size: 14px;
}

.card button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-azul);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.card button:hover {
    background-color: #1b5e20;
}

@media (max-width: 600px){
    .mural {
        padding: 30px 20px;
    }

    .card {
        width: 100%;
        max-width: 400px;
    }


}